In [5]:
# ! pip3 install pandas

In [33]:
# all imports
import pandas as pd
import numpy as np

# Data Loading with some preprocess

In [24]:
train = pd.read_csv("data/origin/train.csv", index_col="row_id")
train["datetime"] = pd.to_datetime(train["datetime"])
train

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,prediction_unit_id
row_id,,,,,,,,
0,0,0,1,0.713,0,2021-09-01 00:00:00,0,0
1,0,0,1,96.590,1,2021-09-01 00:00:00,0,0
2,0,0,2,0.000,0,2021-09-01 00:00:00,0,1
3,0,0,2,17.314,1,2021-09-01 00:00:00,0,1
4,0,0,3,2.904,0,2021-09-01 00:00:00,0,2
...,...,...,...,...,...,...,...,...
2018347,15,1,0,197.233,1,2023-05-31 23:00:00,637,64
2018348,15,1,1,0.000,0,2023-05-31 23:00:00,637,59
2018349,15,1,1,28.404,1,2023-05-31 23:00:00,637,59
2018350,15,1,3,0.000,0,2023-05-31 23:00:00,637,60
2018351,15,1,3,196.240,1,2023-05-31 23:00:00,637,60

In [28]:
gas_prices = pd.read_csv("data/origin/gas_prices.csv")
gas_prices["forecast_date"] = pd.to_datetime(gas_prices["forecast_date"])
gas_prices.set_index("forecast_date", inplace=True)
# gas_prices["2022": "2022"]
gas_prices

,lowest_price_per_mwh,highest_price_per_mwh,origin_date,data_block_id
forecast_date,,,,
2021-09-01,45.23,46.32,2021-08-31,1
2021-09-02,45.62,46.29,2021-09-01,2
2021-09-03,45.85,46.40,2021-09-02,3
2021-09-04,46.30,46.80,2021-09-03,4
2021-09-05,46.30,46.58,2021-09-04,5
...,...,...,...,...
2023-05-26,29.10,34.10,2023-05-25,633
2023-05-27,28.30,34.10,2023-05-26,634
2023-05-28,28.10,34.10,2023-05-27,635
2023-05-29,28.16,36.98,2023-05-28,636
2023-05-30,29.00,34.00,2023-05-29,637

In [25]:
client = pd.read_csv("data/origin/client.csv")
client["date"] = pd.to_datetime(client["date"])
client

,product_type,county,eic_count,installed_capacity,is_business,date,data_block_id
0,1,0,108,952.89,0,2021-09-01,2
1,2,0,17,166.40,0,2021-09-01,2
2,3,0,688,7207.88,0,2021-09-01,2
3,0,0,5,400.00,1,2021-09-01,2
4,1,0,43,1411.00,1,2021-09-01,2
...,...,...,...,...,...,...,...
41914,1,15,51,415.60,0,2023-05-29,637
41915,3,15,161,2035.75,0,2023-05-29,637
41916,0,15,15,620.00,1,2023-05-29,637
41917,1,15,20,624.50,1,2023-05-29,637
41918,3,15,55,2188.20,1,2023-05-29,637

In [27]:
electricity_prices = pd.read_csv("data/origin/electricity_prices.csv")
electricity_prices["forecast_date"] = pd.to_datetime(electricity_prices["forecast_date"])
electricity_prices["origin_date"] = pd.to_datetime(electricity_prices["origin_date"])
electricity_prices.set_index("forecast_date", inplace=True)
electricity_prices

                     euros_per_mwh         origin_date  data_block_id
forecast_date
2021-09-01 00:00:00          92.51 2021-08-31 00:00:00              1
2021-09-01 01:00:00          88.90 2021-08-31 01:00:00              1
2021-09-01 02:00:00          87.35 2021-08-31 02:00:00              1
2021-09-01 03:00:00          86.88 2021-08-31 03:00:00              1
2021-09-01 04:00:00          88.43 2021-08-31 04:00:00              1
...                            ...                 ...            ...
2023-05-30 19:00:00          82.10 2023-05-29 19:00:00            637
2023-05-30 20:00:00         150.85 2023-05-29 20:00:00            637
2023-05-30 21:00:00          82.10 2023-05-29 21:00:00            637
2023-05-30 22:00:00          82.09 2023-05-29 22:00:00            637
2023-05-30 23:00:00          -1.29 2023-05-29 23:00:00            637

[15286 rows x 3 columns]

In [29]:
forecast_weather = pd.read_csv("data/origin/forecast_weather.csv")
forecast_weather

,latitude,longitude,origin_datetime,hours_ahead,temperature,dewpoint,cloudcover_high,cloudcover_low,cloudcover_mid,cloudcover_total,10_metre_u_wind_component,10_metre_v_wind_component,data_block_id,forecast_datetime,direct_solar_radiation,surface_solar_radiation_downwards,snowfall,total_precipitation
0,57.6,21.7,2021-09-01 02:00:00,1,15.655786,11.553613,0.904816,0.019714,0.000000,0.905899,-0.411328,-9.106137,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
1,57.6,22.2,2021-09-01 02:00:00,1,13.003931,10.689844,0.886322,0.004456,0.000000,0.886658,0.206347,-5.355405,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
2,57.6,22.7,2021-09-01 02:00:00,1,14.206567,11.671777,0.729034,0.005615,0.000000,0.730499,1.451587,-7.417905,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
3,57.6,23.2,2021-09-01 02:00:00,1,14.844507,12.264917,0.336304,0.074341,0.000626,0.385468,1.090869,-9.163999,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
4,57.6,23.7,2021-09-01 02:00:00,1,15.293848,12.458887,0.102875,0.088074,0.000015,0.176590,1.268481,-8.975766,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3424507,59.7,26.2,2023-05-30 02:00:00,48,10.150049,5.662744,0.061066,0.257339,0.004059,0.308594,6.890626,-3.258144,637,2023-06-01 02:00:00,0.0,0.0,0.0,0.0
3424508,59.7,26.7,2023-05-30 02:00:00,48,10.259790,5.922754,0.107880,0.895203,0.198700,0.906036,6.890626,-3.768032,637,2023-06-01 02:00:00,0.0,0.0,0.0,0.0
3424509,59.7,27.2,2023-05-30 02:00:00,48,10.467798,6.072534,0.000000,0.387466,0.448853,0.530518,6.214112,-4.700405,637,2023-06-01 02:00:00,0.0,0.0,0.0,0.0
3424510,59.7,27.7,2023-05-30 02:00:00,48,10.694116,7.009058,0.000000,0.505936,0.997314,0.997498,5.810060,-4.338345,637,2023-06-01 02:00:00,0.0,0.0,0.0,0.0
3424511,59.7,28.2,2023-05-30 02:00:00,48,11.233179,7.069238,0.703461,0.292313,0.934021,0.989716,2.719728,-0.922939,637,2023-06-01 02:00:00,0.0,0.0,0.0,0.0

In [32]:
historical_weather = pd.read_csv("data/origin/historical_weather.csv")
historical_weather["data_block_id"] = historical_weather["data_block_id"].astype("int32")
historical_weather

,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,data_block_id
0,2021-09-01 00:00:00,14.2,11.6,0.0,0.0,1015.9,31,31,0,11,7.083333,8,0.0,0.0,0.0,57.6,21.7,1
1,2021-09-01 00:00:00,13.9,11.5,0.0,0.0,1010.7,33,37,0,0,5.111111,359,0.0,0.0,0.0,57.6,22.2,1
2,2021-09-01 00:00:00,14.0,12.5,0.0,0.0,1015.0,31,34,0,0,6.333333,355,0.0,0.0,0.0,57.6,22.7,1
3,2021-09-01 00:00:00,14.6,11.5,0.0,0.0,1017.3,0,0,0,0,8.083333,297,358.0,277.0,81.0,57.6,23.2,1
4,2021-09-01 00:00:00,15.7,12.9,0.0,0.0,1014.0,22,25,0,0,8.416667,5,0.0,0.0,0.0,57.6,23.7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710797,2023-05-30 10:00:00,11.7,4.6,0.0,0.0,1018.9,40,9,54,0,1.055556,253,567.0,392.0,175.0,59.7,26.2,637
1710798,2023-05-30 10:00:00,12.3,3.5,0.0,0.0,1019.0,46,4,70,0,0.805556,263,581.0,407.0,174.0,59.7,26.7,637
1710799,2023-05-30 10:00:00,9.8,3.0,0.0,0.0,1019.2,41,4,62,0,1.972222,285,609.0,432.0,177.0,59.7,27.2,637
1710800,2023-05-30 10:00:00,11.7,1.6,0.0,0.0,1019.0,44,0,73,0,3.500000,307,658.0,521.0,137.0,59.7,27.7,637
1710801,2023-05-30 10:00:00,12.0,1.4,0.0,0.0,1016.1,38,0,63,0,3.250000,304,672.0,550.0,122.0,59.7,28.2,637

# EDA

## Many targets are 0s, why ?

In [35]:
train["target"].value_counts()

target
0.000       351496
0.001        10733
0.003         6619
0.002         5365
0.004         4593
             ...
425.261          1
5878.224         1
5206.098         1
710.506          1
197.233          1
Name: count, Length: 565566, dtype: int64

In [38]:
# 17% are zeros
zero_train = train[train["target"] == 0.0]
zero_train

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,prediction_unit_id
row_id,,,,,,,,
2,0,0,2,0.0,0,2021-09-01 00:00:00,0,1
6,0,1,0,0.0,0,2021-09-01 00:00:00,0,3
8,0,1,1,0.0,0,2021-09-01 00:00:00,0,4
12,1,0,1,0.0,0,2021-09-01 00:00:00,0,6
16,1,1,3,0.0,0,2021-09-01 00:00:00,0,8
...,...,...,...,...,...,...,...,...
2018336,14,1,1,0.0,0,2023-05-31 23:00:00,637,55
2018338,14,1,2,0.0,0,2023-05-31 23:00:00,637,68
2018346,15,1,0,0.0,0,2023-05-31 23:00:00,637,64
2018348,15,1,1,0.0,0,2023-05-31 23:00:00,637,59
2018350,15,1,3,0.0,0,2023-05-31 23:00:00,637,60

# Preprocessing data

# Modeling

In [42]:
class Model:
    def predict(self):
        return 0.0

In [43]:
model = Model()
model.predict()

0.0